In [1]:
import findspark
findspark.init()

In [2]:
import pyspark

In [3]:
from pyspark.sql import SparkSession

In [4]:
spark = SparkSession.builder.getOrCreate()
spark.read.csv(r"C:\Users\muhammad.helmy\Documents\Pyspark\Book1.csv").show()

+-------+----+
|    _c0| _c1|
+-------+----+
|  Name |Age |
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [7]:
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [8]:
spark

In [9]:
dy_pyspark=spark.read.csv('book1.csv')

In [11]:
dy_pyspark.show()

+-------+----+
|    _c0| _c1|
+-------+----+
|  Name |Age |
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [15]:
df_pyspark=spark.read.option('header','true').csv('book1.csv')

In [16]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [17]:
df_pyspark.head(3)

[Row(Name ='Danny', Age ='31'),
 Row(Name ='Sunny', Age ='30'),
 Row(Name ='Gabriel', Age ='28')]

In [18]:
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age : string (nullable = true)

- PySpark Dataframe
- Reading the dataset
- Checking the datatypes of the column 
- Selecting Columns and Indexing
- Check Describe option similar to Pandas
- Adding Columns 
- Droppping Columns
- Renaming Columns

In [70]:
from pyspark.sql import SparkSession

In [71]:
spark = SparkSession.builder.appName('Dataframe').getOrCreate()

In [72]:
spark

In [73]:
##read the dataset
df_pyspark=spark.read.option('header','true').csv('book1.csv').show()

+-------+----+
|  Name |Age |
+-------+----+
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [75]:
df_pyspark=spark.read.csv('Book1.csv',header = True,inferSchema=True)
df_pyspark.show()

+-------+----+
|  Name |Age |
+-------+----+
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [76]:
##check the schema
df_pyspark.printSchema()

root
 |-- Name : string (nullable = true)
 |-- Age : integer (nullable = true)

In [77]:
type(df_pyspark)

pyspark.sql.dataframe.DataFrame

In [78]:
df_pyspark.columns

['Name ', 'Age ']

In [79]:
df_pyspark.head(3)

[Row(Name ='Danny', Age =31),
 Row(Name ='Sunny', Age =30),
 Row(Name ='Gabriel', Age =28)]

In [80]:
df_pyspark.show()

+-------+----+
|  Name |Age |
+-------+----+
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [81]:
df_pyspark.select('Name ').show()

+-------+
|  Name |
+-------+
|  Danny|
|  Sunny|
|Gabriel|
+-------+

In [82]:
type(df_pyspark.select('Name ').show())

+-------+
|  Name |
+-------+
|  Danny|
|  Sunny|
|Gabriel|
+-------+

NoneType

In [44]:
df_pyspark.select(['Name ', 'Age ']).show()

+-------+----+
|  Name |Age |
+-------+----+
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [83]:
df_pyspark['Name ']

Column<'Name '>

In [84]:
df_pyspark.dtypes

[('Name ', 'string'), ('Age ', 'int')]

In [85]:
df_pyspark.describe().show()

+-------+-----+------------------+
|summary|Name |              Age |
+-------+-----+------------------+
|  count|    3|                 3|
|   mean| NULL|29.666666666666668|
| stddev| NULL|1.5275252316519465|
|    min|Danny|                28|
|    max|Sunny|                31|
+-------+-----+------------------+

In [86]:
### Adding Columns in data frame
df_pyspark.withColumn('Age in 2 years', df_pyspark['Age ']+2)

DataFrame[Name : string, Age : int, Age in 2 years: int]

In [87]:
df_pyspark=df_pyspark.withColumn('Age in 2 years', df_pyspark['Age ']+2)

In [88]:
df_pyspark.show()

+-------+----+--------------+
|  Name |Age |Age in 2 years|
+-------+----+--------------+
|  Danny|  31|            33|
|  Sunny|  30|            32|
|Gabriel|  28|            30|
+-------+----+--------------+

In [92]:
### Drop the columns
df_pyspark.drop('Age in 2 years').show()

+-------+----+
|  Name |Age |
+-------+----+
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [93]:
df_pyspark=df_pyspark.drop('Age in 2 years')

In [94]:
df_pyspark.show()

+-------+----+
|  Name |Age |
+-------+----+
|  Danny|  31|
|  Sunny|  30|
|Gabriel|  28|
+-------+----+

In [96]:
### Rename the columns
df_pyspark.withColumnRenamed('Name ','New Name').show()

+--------+----+
|New Name|Age |
+--------+----+
|   Danny|  31|
|   Sunny|  30|
| Gabriel|  28|
+--------+----+

### PySpark Handling Missing Values 
- Dropping Columns
- Dropping Rows 
- Various Parameter in Dropping functoinalities 
- Handling Missing values by Mean, Median and Mode

In [97]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Practise').getOrCreate()

In [100]:
df_pyspark=spark.read.csv('Book2.csv',header=True,inferSchema=True )

In [102]:
df_pyspark.show()

+-----------+----+----------+------+
|       Name| age|Experience|Salary|
+-----------+----+----------+------+
|       Kris|  31|        10| 30000|
|   Sudhardo|  30|         8| 25000|
|       Goku|  29|         4| 20000|
|SuperSaiyan|  24|         3| 20000|
|       Paul|  21|         1| 15000|
|     Vegeta|  23|         2| 18000|
|     Bilbao|NULL|      NULL| 40000|
|       NULL|  34|        10| 38000|
|       NULL|  36|      NULL|  NULL|
+-----------+----+----------+------+

In [103]:
##drop the columns 
df_pyspark.drop('Name').show()

+----+----------+------+
| age|Experience|Salary|
+----+----------+------+
|  31|        10| 30000|
|  30|         8| 25000|
|  29|         4| 20000|
|  24|         3| 20000|
|  21|         1| 15000|
|  23|         2| 18000|
|NULL|      NULL| 40000|
|  34|        10| 38000|
|  36|      NULL|  NULL|
+----+----------+------+

In [104]:
df_pyspark.na.drop().show()

+-----------+---+----------+------+
|       Name|age|Experience|Salary|
+-----------+---+----------+------+
|       Kris| 31|        10| 30000|
|   Sudhardo| 30|         8| 25000|
|       Goku| 29|         4| 20000|
|SuperSaiyan| 24|         3| 20000|
|       Paul| 21|         1| 15000|
|     Vegeta| 23|         2| 18000|
+-----------+---+----------+------+

In [105]:
### any==how 
df_pyspark.na.drop(how="all").show()

+-----------+----+----------+------+
|       Name| age|Experience|Salary|
+-----------+----+----------+------+
|       Kris|  31|        10| 30000|
|   Sudhardo|  30|         8| 25000|
|       Goku|  29|         4| 20000|
|SuperSaiyan|  24|         3| 20000|
|       Paul|  21|         1| 15000|
|     Vegeta|  23|         2| 18000|
|     Bilbao|NULL|      NULL| 40000|
|       NULL|  34|        10| 38000|
|       NULL|  36|      NULL|  NULL|
+-----------+----+----------+------+

In [106]:
### any==how 
df_pyspark.na.drop(how="any").show()

+-----------+---+----------+------+
|       Name|age|Experience|Salary|
+-----------+---+----------+------+
|       Kris| 31|        10| 30000|
|   Sudhardo| 30|         8| 25000|
|       Goku| 29|         4| 20000|
|SuperSaiyan| 24|         3| 20000|
|       Paul| 21|         1| 15000|
|     Vegeta| 23|         2| 18000|
+-----------+---+----------+------+

In [107]:
##threshold
df_pyspark.na.drop(how="any",thresh=2).show()

+-----------+----+----------+------+
|       Name| age|Experience|Salary|
+-----------+----+----------+------+
|       Kris|  31|        10| 30000|
|   Sudhardo|  30|         8| 25000|
|       Goku|  29|         4| 20000|
|SuperSaiyan|  24|         3| 20000|
|       Paul|  21|         1| 15000|
|     Vegeta|  23|         2| 18000|
|     Bilbao|NULL|      NULL| 40000|
|       NULL|  34|        10| 38000|
+-----------+----+----------+------+

In [109]:
##Subsets 
df_pyspark.na.drop(how="any",subset=['Experience']).show()

+-----------+---+----------+------+
|       Name|age|Experience|Salary|
+-----------+---+----------+------+
|       Kris| 31|        10| 30000|
|   Sudhardo| 30|         8| 25000|
|       Goku| 29|         4| 20000|
|SuperSaiyan| 24|         3| 20000|
|       Paul| 21|         1| 15000|
|     Vegeta| 23|         2| 18000|
|       NULL| 34|        10| 38000|
+-----------+---+----------+------+

In [112]:
## Filling the missing values 
df_pyspark.na.fill('Missing Values',['Experience','age','Name']).show()

+--------------+----+----------+------+
|          Name| age|Experience|Salary|
+--------------+----+----------+------+
|          Kris|  31|        10| 30000|
|      Sudhardo|  30|         8| 25000|
|          Goku|  29|         4| 20000|
|   SuperSaiyan|  24|         3| 20000|
|          Paul|  21|         1| 15000|
|        Vegeta|  23|         2| 18000|
|        Bilbao|NULL|      NULL| 40000|
|Missing Values|  34|        10| 38000|
|Missing Values|  36|      NULL|  NULL|
+--------------+----+----------+------+

In [113]:
df_pyspark.show()

+-----------+----+----------+------+
|       Name| age|Experience|Salary|
+-----------+----+----------+------+
|       Kris|  31|        10| 30000|
|   Sudhardo|  30|         8| 25000|
|       Goku|  29|         4| 20000|
|SuperSaiyan|  24|         3| 20000|
|       Paul|  21|         1| 15000|
|     Vegeta|  23|         2| 18000|
|     Bilbao|NULL|      NULL| 40000|
|       NULL|  34|        10| 38000|
|       NULL|  36|      NULL|  NULL|
+-----------+----+----------+------+

In [118]:
from pyspark.ml.feature import Imputer

imputer = Imputer (
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("mean")

In [119]:
# Add imputation cols to df 
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------+----+----------+------+-----------+------------------+--------------+
|       Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+-----------+----+----------+------+-----------+------------------+--------------+
|       Kris|  31|        10| 30000|         31|                10|         30000|
|   Sudhardo|  30|         8| 25000|         30|                 8|         25000|
|       Goku|  29|         4| 20000|         29|                 4|         20000|
|SuperSaiyan|  24|         3| 20000|         24|                 3|         20000|
|       Paul|  21|         1| 15000|         21|                 1|         15000|
|     Vegeta|  23|         2| 18000|         23|                 2|         18000|
|     Bilbao|NULL|      NULL| 40000|         28|                 5|         40000|
|       NULL|  34|        10| 38000|         34|                10|         38000|
|       NULL|  36|      NULL|  NULL|         36|                 5|         25750|
+-----------+----+----------+------+-----------+------------------+--------------+

In [120]:
from pyspark.ml.feature import Imputer

imputer = Imputer (
    inputCols=['age','Experience','Salary'],
    outputCols=["{}_imputed".format(c) for c in ['age','Experience','Salary']]
).setStrategy("median")

In [121]:
imputer.fit(df_pyspark).transform(df_pyspark).show()

+-----------+----+----------+------+-----------+------------------+--------------+
|       Name| age|Experience|Salary|age_imputed|Experience_imputed|Salary_imputed|
+-----------+----+----------+------+-----------+------------------+--------------+
|       Kris|  31|        10| 30000|         31|                10|         30000|
|   Sudhardo|  30|         8| 25000|         30|                 8|         25000|
|       Goku|  29|         4| 20000|         29|                 4|         20000|
|SuperSaiyan|  24|         3| 20000|         24|                 3|         20000|
|       Paul|  21|         1| 15000|         21|                 1|         15000|
|     Vegeta|  23|         2| 18000|         23|                 2|         18000|
|     Bilbao|NULL|      NULL| 40000|         29|                 4|         40000|
|       NULL|  34|        10| 38000|         34|                10|         38000|
|       NULL|  36|      NULL|  NULL|         36|                 4|         20000|
+-----------+----+----------+------+-----------+------------------+--------------+

### Pyspark Dataframes

- Filter operation
- &,|,==
- ~

In [122]:
from pyspark.sql import SparkSession

In [123]:
spark = SparkSession.builder.appName('dataframe').getOrCreate()

In [124]:
df_spark = spark.read.csv('Book1.csv',header=True,inferSchema=True)
df_pyspark.show()

+-----------+----+----------+------+
|       Name| age|Experience|Salary|
+-----------+----+----------+------+
|       Kris|  31|        10| 30000|
|   Sudhardo|  30|         8| 25000|
|       Goku|  29|         4| 20000|
|SuperSaiyan|  24|         3| 20000|
|       Paul|  21|         1| 15000|
|     Vegeta|  23|         2| 18000|
|     Bilbao|NULL|      NULL| 40000|
|       NULL|  34|        10| 38000|
|       NULL|  36|      NULL|  NULL|
+-----------+----+----------+------+

### Filter Operation

In [126]:
### Salary of the people less than or equal to 20000
df_pyspark.filter("Salary<=20000").show()

+-----------+---+----------+------+
|       Name|age|Experience|Salary|
+-----------+---+----------+------+
|       Goku| 29|         4| 20000|
|SuperSaiyan| 24|         3| 20000|
|       Paul| 21|         1| 15000|
|     Vegeta| 23|         2| 18000|
+-----------+---+----------+------+

In [127]:
df_pyspark.filter("Salary<=20000").select(['Name','age']).show()

+-----------+---+
|       Name|age|
+-----------+---+
|       Goku| 29|
|SuperSaiyan| 24|
|       Paul| 21|
|     Vegeta| 23|
+-----------+---+

In [128]:
df_pyspark.filter(df_pyspark['Salary']<=20000).show()

+-----------+---+----------+------+
|       Name|age|Experience|Salary|
+-----------+---+----------+------+
|       Goku| 29|         4| 20000|
|SuperSaiyan| 24|         3| 20000|
|       Paul| 21|         1| 15000|
|     Vegeta| 23|         2| 18000|
+-----------+---+----------+------+

In [131]:
df_pyspark.filter((df_pyspark['Salary']<=20000) & (df_pyspark['Salary']>=15000)).show()

+-----------+---+----------+------+
|       Name|age|Experience|Salary|
+-----------+---+----------+------+
|       Goku| 29|         4| 20000|
|SuperSaiyan| 24|         3| 20000|
|       Paul| 21|         1| 15000|
|     Vegeta| 23|         2| 18000|
+-----------+---+----------+------+

In [132]:
df_pyspark.filter((df_pyspark['Salary']<=20000) | (df_pyspark['Salary']>=15000)).show()

+-----------+----+----------+------+
|       Name| age|Experience|Salary|
+-----------+----+----------+------+
|       Kris|  31|        10| 30000|
|   Sudhardo|  30|         8| 25000|
|       Goku|  29|         4| 20000|
|SuperSaiyan|  24|         3| 20000|
|       Paul|  21|         1| 15000|
|     Vegeta|  23|         2| 18000|
|     Bilbao|NULL|      NULL| 40000|
|       NULL|  34|        10| 38000|
+-----------+----+----------+------+

In [133]:
df_pyspark.filter(~(df_pyspark['Salary']<=20000)).show()

+--------+----+----------+------+
|    Name| age|Experience|Salary|
+--------+----+----------+------+
|    Kris|  31|        10| 30000|
|Sudhardo|  30|         8| 25000|
|  Bilbao|NULL|      NULL| 40000|
|    NULL|  34|        10| 38000|
+--------+----+----------+------+

### Pyspark Groupby and Aggregate Functions

In [2]:
from pyspark.sql import SparkSession

In [3]:
spark = SparkSession.builder.appName('Agg').getOrCreate()

In [4]:
spark

In [5]:
df_pyspark=spark.read.csv('Book3.csv',header=True,inferSchema=True)

In [6]:
df_pyspark.show()

+------+------------+------+
|  Name| Departments|salary|
+------+------------+------+
|  Sony|Data Science| 10000|
|Toyota|         IOT|  5000|
|Mahesh|    Big Data|  4000|
| Krish|    Big Data|  4000|
| Hakim|Data Science|  3000|
|    JS|Data Science| 20000|
|  Zara|         IOT| 10000|
|Saiful|    Big Data|  5000|
|  Boon|Data Science| 10000|
| Honda|    Big Data|  2000|
+------+------------+------+

In [7]:
df_pyspark.printSchema()

root
 |-- Name: string (nullable = true)
 |-- Departments: string (nullable = true)
 |-- salary: integer (nullable = true)

In [8]:
## Groupby
### Grouped to find the maximum salary
df_pyspark.groupBy('Name').sum().show()

+------+-----------+
|  Name|sum(salary)|
+------+-----------+
|  Sony|      10000|
|  Zara|      10000|
| Honda|       2000|
| Krish|       4000|
|    JS|      20000|
|  Boon|      10000|
|Toyota|       5000|
| Hakim|       3000|
|Saiful|       5000|
|Mahesh|       4000|
+------+-----------+

In [143]:
### Groupby Departments which give maximum salary
df_pyspark.groupBy('Departments').sum().show()

+------------+-----------+
| Departments|sum(salary)|
+------------+-----------+
|         IOT|      15000|
|    Big Data|      15000|
|Data Science|      43000|
+------------+-----------+

In [9]:
df_pyspark.groupBy('Departments').mean().show()

+------------+-----------+
| Departments|avg(salary)|
+------------+-----------+
|         IOT|     7500.0|
|    Big Data|     3750.0|
|Data Science|    10750.0|
+------------+-----------+

In [10]:
df_pyspark.groupBy('Departments').count().show()

+------------+-----+
| Departments|count|
+------------+-----+
|         IOT|    2|
|    Big Data|    4|
|Data Science|    4|
+------------+-----+

In [11]:
df_pyspark.agg({'Salary':'sum'}).show()

+-----------+
|sum(Salary)|
+-----------+
|      73000|
+-----------+

In [12]:
df_pyspark.groupBy('Name').max().show()

+------+-----------+
|  Name|max(salary)|
+------+-----------+
|  Sony|      10000|
|  Zara|      10000|
| Honda|       2000|
| Krish|       4000|
|    JS|      20000|
|  Boon|      10000|
|Toyota|       5000|
| Hakim|       3000|
|Saiful|       5000|
|Mahesh|       4000|
+------+-----------+

In [13]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName('Missing').getOrCreate()

In [14]:
## Read The dataset
training = spark.read.csv('test1.csv',header=True,inferSchema=True)

In [15]:
training.show()

+---------+---+----------+------+
|     Name|age|Experience|Salary|
+---------+---+----------+------+
|    Krish| 31|        10| 30000|
|Sudhanshu| 30|         8| 25000|
|    Sunny| 29|         4| 20000|
|     Paul| 24|         3| 20000|
|   Harsha| 21|         1| 15000|
|  Shubham| 23|         2| 18000|
+---------+---+----------+------+

In [16]:
training.printSchema()

root
 |-- Name: string (nullable = true)
 |-- age: integer (nullable = true)
 |-- Experience: integer (nullable = true)
 |-- Salary: integer (nullable = true)

In [17]:
training.columns

['Name', 'age', 'Experience', 'Salary']

In [18]:
[Age,Experience]----> new feature--->independent featurefrom pyspark.ml.feature import VectorAssembler

SyntaxError: invalid syntax (997011921.py, line 1)

In [20]:
from pyspark.ml.feature import VectorAssembler
featureassembler=VectorAssembler(inputCols=["age","Experience"],outputCol="Independent Features")

In [21]:
output=featureassembler.transform(training)

In [22]:
output.show()

+---------+---+----------+------+--------------------+
|     Name|age|Experience|Salary|Independent Features|
+---------+---+----------+------+--------------------+
|    Krish| 31|        10| 30000|         [31.0,10.0]|
|Sudhanshu| 30|         8| 25000|          [30.0,8.0]|
|    Sunny| 29|         4| 20000|          [29.0,4.0]|
|     Paul| 24|         3| 20000|          [24.0,3.0]|
|   Harsha| 21|         1| 15000|          [21.0,1.0]|
|  Shubham| 23|         2| 18000|          [23.0,2.0]|
+---------+---+----------+------+--------------------+

In [23]:
output.columns

['Name', 'age', 'Experience', 'Salary', 'Independent Features']

In [24]:
finalized_data=output.select("Independent Features","Salary")

In [25]:
finalized_data.show()

+--------------------+------+
|Independent Features|Salary|
+--------------------+------+
|         [31.0,10.0]| 30000|
|          [30.0,8.0]| 25000|
|          [29.0,4.0]| 20000|
|          [24.0,3.0]| 20000|
|          [21.0,1.0]| 15000|
|          [23.0,2.0]| 18000|
+--------------------+------+

In [26]:
from pyspark.ml.regression import LinearRegression
##train test split
train_data,test_data=finalized_data.randomSplit([0.75,0.25])
regressor=LinearRegression(featuresCol='Independent Features', labelCol='Salary')
regressor=regressor.fit(train_data)

In [27]:
### Coefficients
regressor.coefficients

DenseVector([-176.3341, 1320.1856])

In [28]:
### Intercepts
regressor.intercept

19812.064965197405

In [29]:
### Prediction
pred_results=regressor.evaluate(test_data)

In [30]:
pred_results.predictions.show()

+--------------------+------+------------------+
|Independent Features|Salary|        prediction|
+--------------------+------+------------------+
|          [21.0,1.0]| 15000|17429.234338747105|
|         [31.0,10.0]| 30000| 27547.56380510443|
+--------------------+------+------------------+

In [31]:
pred_results.meanAbsoluteError,pred_results.meanSquaredError

(2440.8352668213374, 5957811.381290973)